<div class="container">
  <h1>Result</h1>
  <p>
    <%= @message[:start] %><strong><%= @message[:strong] %></strong><%= @message[:end] %>
  </p>
  <% if session[:score] == 0 %>
    <p> Final Score: <%= @score %></p>
  <% else %>
    <p> Total Score: <%= session[:score] %></p>
  <% end %>
  <%= link_to "Play again", new_path %>
</div>
